* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

}


*:hover {
    cursor:default;
}

button:hover, a:hover {
    cursor: pointer;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-bottom: 30px;
    position: relative;
    min-height: 100%;
    background-color:white;;
    box-sizing: inherit;

}

.body {
    padding-top: 80px;
    min-height: 100%;
    display: block;
    padding-bottom: 60px;
}

ul.header-menu li a:hover {
    transform:translate(0, -4%);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: all;
    text-decoration: underline 0.15em rgba(255, 255, 255, 1);
  transition: text-decoration-color 500ms;
}

ul.header-menu li a:active {
    text-decoration: underline 0.15em rgb(223, 223, 223);
    transform:translate(0%, 0%);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: all;
    color: rgb(223, 223, 223);
}

ul.header-menu li a{
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border-color: none;
}

.header-menu, .header-menu li, .logo, .footer-menu li, .footer-menu, .signature{
display: inline-flex;
}

.logo {
    height: 60px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    left: 5%;

}

.header-menu, .footer-menu {
    list-style-type: none;
}

.header-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translateY(-50%);
}

ul.header-menu li {
    padding: 10px;
    font-size: 30px;
}

header {
    background-color: rgba(245,49,63,255);
    left: 0; top: 0; position : absolute; width: 100%; height : 80px;

}

.footer-menu li{
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-menu li a{
    font-size: 20px;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    color: white;
}
.footer-menu li a:hover{

    text-decoration-color: rgba(255, 255, 255, 1);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: all;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26,22,62,255);
    height: 60px;
}

.footer-menu {

    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    justify-content: center;
    
}

@media only screen and (max-width: 730px) {
    footer {
        height: 90px;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;

    }
    body {
        padding-bottom: 75px;
    }

}
@media only screen and (min-width: 1126px) {
    .header-menu > img {
        display: none;
    }
}

@media only screen and (max-width: 1126px) {
    .header-menu {
        margin: 0;
        top: 0;
        right: 0;
        left:unset ;
        transform: none;
        -ms-transform: none;
        width: 160px;
        position: absolute;
        display: block;
        z-index: 1;
    }
    .header-menu > li > a{
        
        font-size: 20px;
    }
    .header-menu > li{
            flex-wrap: nowrap;
    background-color: rgba(245,49,63,255);
            display: none;
        }
        .header-menu > img {
            float: right;
        margin-bottom: 20px;
        width: 40px;
        padding: 10px;
        border-radius: 8px;
        margin-right: 30px;
        margin-top: 10px;
        background-color: white;
        cursor: pointer;
    }
    .header-menu:hover > li, .header-menu > li > a {
        transform: unset;

        display: block;
    }

 
}