.box-header {
    min-height: 200px;
    position: relative;
    border-top: 0.1px solid black;

}

.box-header::before {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("ekip.png");
    filter: brightness(0.6);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    content: "";


}

.box-2 {
    margin-top: 30px;
    position: relative;
    width: 100%;

}

.box-2 > h1 {
    color: white;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    padding-bottom: 10px;
    max-width: 90%;
    text-align: center;


}
.box-2 > p {
    color: white;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 20px;
    max-width: 90%;
    text-align: center;

}

.box-body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

.box-body > ul{
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    padding-bottom: 50px;
    
}
.box-body > ul > li{
    margin: 15px;
    justify-self: center;
    display: inline-flex;
    width: max-content;       
    
}

.card {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.card > img {

    margin-left: auto;
    margin-right: auto;
    width: 100%;

    border-radius: 15px;
    filter:grayscale(0.2) brightness(0.9);
    transition: filter .51s;

}

.card > img:hover {
    filter: grayscale(0) brightness(1);
}

.card-body {
    margin-left: 10px;
    margin-top: 5px;


}

.card-body > h1 {
    color: #1b163e;
    margin-left: 1%;
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: bold;
}
.card-body > ul {
    display: inline-flex;
    list-style-type: none;
    flex-wrap: wrap;

}

.card-body > ul > li {
    width: max-content;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-right: 10px;
}

.card-body > p, .card-body > ul > li {
    border-radius: 30px;
    height: max-content;
    font-weight: 700;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 5px;
    font-size: 20px;
    transition: 0.5s ease-in-out background-color, 0.5s ease-out color, 0.5s ease-out border-color;

}

.card-body > ul > li:nth-child(2){
    border: 2px solid #008CBA;    
}

.card-body > ul > li:nth-child(2):hover, .card-body > ul > li:nth-child(2):focus, .card-body > ul > li:nth-child(2):active{
    background-color: #008CBA;
    border: 2px solid grey;
    color: white;
}

.card-body > ul > li:nth-child(1){
    border: 2px solid #4CAF50;    
}

.card-body > ul > li:nth-child(1):hover, .card-body > ul > li:nth-child(2):focus, .card-body > ul > li:nth-child(2):active{
    background-color: #4CAF50;
    border: 2px solid grey;
    color: white;
}


.card-body > p {
    text-align: center;
    border: 2px solid #DAA71D;

}
.card-body > p:hover {
    color:white;
    background-color: #DAA71D;
    border: 2px solid grey;
}


.card-body > p {
    width: 85%;
}



@media only screen and ( min-width: 1000px) {
    .card {
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
    }

}

@media only screen and (max-width: 1000px ) and ( min-width: 750px) {
    .card {
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
    }

}

@media only screen and (max-width: 750px) {
    .card {
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        min-width: 100%;    }

}